<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Medicos</li>
    </ol>
</nav>
<div class="d-flex flex-row-reverse">
    <button routerLink="/cadastromedicos" class="btn btn-primary ">Cadastrar Novo médico</button>
</div>

<div class="card">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CRM</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Cidade</th>
                <th>UF</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Ronaldo Fenomeno</th>
                <td>350537</td>
                <td>49183829822</td>
                <td>Rua Ananatuba n 112</td>
                <td>Várzea Paulista</td>
                <td>SP</td>
            </tr>
            <tr>
                <th scope="row">Ronaldo Fenomeno</th>
                <td>350537</td>
                <td>49183829822</td>
                <td>Rua Ananatuba n 112</td>
                <td>Várzea Paulista</td>
                <td>SP</td>
            </tr>
            <tr>
                <th scope="row">Ronaldo Fenomeno</th>
                <td>350537</td>
                <td>49183829822</td>
                <td>Rua Ananatuba n 112</td>
                <td>Várzea Paulista</td>
                <td>SP</td>
            </tr>
        </tbody>
    </table>
</div>